
<div class="container">
    <div class="row">
            
        <div class="col-sm-5" >
            <div class="card">
                <div class="card-header text-white bg-info">
                    <div>
                        <label >Employee Details</label>
                    </div>
                </div>

                <div class="card-body">
                    
                    <div class="card-body">
                        <label style="text-align:left;float:left" ><b>Employee Id :</b>  {{employee.id}}</label>

                    </div>
                    <div class="card-body">
                        <label style="text-align:left;float:left"><b>Name :</b> {{employee.name}}</label>

                    </div>
                    <div class="card-body">
                        <label style="text-align:left;float:left"><b>Department :</b> {{employee.dept}}</label>

                    </div>
                    <div class="card-body">
                        <label style="text-align:left;float:left"><b>Salary :</b> {{employee.salary}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>